/*css/estilos.css*/

/*reset básico*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lora';
    color: #f5f5f5;
    background-color: #121212;
}

h1 {
    color: #FFCC00;
    font-size: 48px;
    font-family: 'roboto';
    text-align: center;
}

h2 {
    color: #FFCC00;
    font-size: 30px;
}

h3 {
    color: #FFCC00;
    font-size: 26px;
}

/*Aplicar estilos a clases*/
.subtitulo {
    text-align: center;
    font-size: 18px;
}

.menu-anclas {
    color: #4A5568;
}